body {
	padding: 0;
	background-image:
		linear-gradient(
			rgba(55, 14, 60, 1), 
			rgba(48, 217, 255, 0.9)
		),

		url("../images/eschercubesedited.png");
		/* background-size: 500px; <-- size of texture can be changed here */
}

.footer {
	margin-top: calc(100vh - 211px);
}